<?xml version="1.0" encoding="utf-8"?>
<android.support.constraint.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context="com.example.taylor.settings.Settings">

    <TextView
        android:id="@+id/textView"
        android:layout_width="61dp"
        android:layout_height="18dp"
        android:text="Zip Code"
        tools:layout_editor_absoluteX="25dp"
        tools:layout_editor_absoluteY="74dp" />

    <TextView
        android:id="@+id/textView2"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Popups"
        tools:layout_editor_absoluteX="25dp"
        tools:layout_editor_absoluteY="182dp" />

    <TextView
        android:id="@+id/textView3"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Default Budget"
        tools:layout_editor_absoluteX="25dp"
        tools:layout_editor_absoluteY="287dp" />

    <EditText
        android:id="@+id/editText"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:ems="10"
        android:inputType="number"
        tools:layout_editor_absoluteX="162dp"
        tools:layout_editor_absoluteY="270dp" />

    <EditText
        android:id="@+id/editText3"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:ems="10"
        android:inputType="textPostalAddress"
        tools:layout_editor_absoluteX="162dp"
        tools:layout_editor_absoluteY="60dp" />

    <ToggleButton
        android:id="@+id/toggleButton"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="ToggleButton"
        tools:layout_editor_absoluteY="169dp"
        tools:layout_editor_absoluteX="229dp" />

    <Button
        android:id="@+id/button"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Return"
        tools:layout_editor_absoluteX="16dp"
        tools:layout_editor_absoluteY="444dp" />

</android.support.constraint.ConstraintLayout>
